@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/Gilroy-Regular.woff), url(../font/Gilroy-Regular.woff2);
}
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../font/Gilroy-SemiboldItalic.woff),
    url(../font/Gilroy-SemiboldItalic.woff2);
}
:root {
  /* background colors */
  --main-bg-cl: #191919;

  /* text colors */

  --primary-color-text: rgba(255, 255, 255, 0.8);
  --title-color-text: #e7e7e7;
  --second-color-text: rgba(255, 255, 255, 0.3);
  --primary-btn-color-text: rgba(255, 255, 255, 0.9);
  --primary-btn: #df3d3a;
  --accent-text-color: #df3d3a;
}
/* Common styles */
body {
  background-color: var(--main-bg-color);
  font-family: Gilroy;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.45;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
/* Utils */
.title {
  font-weight: 600;
  font-size: 54px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--title-color-text);
}
.btn {
  font-family: Gilroy, c sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--primary-btn-color-text);
  background-color: var(--primary-btn);
  border: none;
  cursor: pointer;
}
.btn-accent {
  color: var(--primary-btn-color-text);
  background-color: transparent;
  border: 1px solid var(--primary-btn);
}

.subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.25;
  color: var(--title-color-text);
  }

/* HEADER */

.header-item-link {
font-size: 16px;
line-height: 1.19;
color: var(--primary-color-text);
}


/* HERO */

.hero-description {
  font-size: 16px;
line-height: 1.25;
color: var(--primary-color-text);
}

.hero-title {
font-weight: 600;
font-size: 74px;
line-height: 1;
letter-spacing: 0.02em;
text-transform: uppercase;

color: var(--title-color-text);
}

/* GARANTIES */

.quote-author {
font-size: 16px;
line-height: 0.7;
color: rgba(255, 255, 255, 0.4);
}

.overview-subtitle  {
  color: var(--accent-text-color);
}

.overview-numbers {
  font-size: 28px;
 line-height: 1.25;
  color: var(--accent-text-color);
  opacity: 0.2;
}

.overview-numbers.current {
  opacity: 1;
}

/* FOOTER */
.footer-link {
  font-size: 16px;
line-height: 1.25;
color: rgba(255, 255, 255, 0.3);
}

.footer-link.footer-link--tel {
color: var(--primary-color-text);
}
/* header */
header {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: rgba(255, 255, 255, 0.8);
}
/* hero */
.hero-title {
  font-style: normal;
  font-weight: 600;
  font-size: 74px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--title-color-text);
}
