/* BENEFITS */
.benefits {
  &__container {
    width: 1128px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__inner-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &::before {
      content: "";
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: var(--primary-btn);

      margin-right: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
