/* DESIGN */
.design {
  &__container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
  }

  &__image {
    margin-right: 150px;
  }

  &__title {
    width: 620px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
