/* History */
/* Оформление через фоновое изображение */
/* .brand-history {
  background-image: url(../img/brand-history/img-1.jpg);
  background-repeat: no-repeat;
  background-position: top 85px left calc(50% + 400px);
} */

.brand-wrapper {
    padding-left: 120px;
  }

  .brand-wrapper:first-child {
    margin-bottom: 40px;
    width: 520px;
    position: relative;
  }
  .brand-history-text:not(:last-child) {
    margin-bottom: 16px;
  }
  .brand-wrapper:last-child {
    display: flex;
    align-items: flex-end;
  }
  /* Оформление через контентное изображение */
  .brand-history-image {
    position: absolute;
    top: 0;
    left: calc(100% + 150px);
  }
  .brand-wrapper-text {
    margin-left: 260px;
    max-width: 510px;
  }
  .brand-history-text.quote-pre-text {
    margin-bottom: 90px;
  }
  .brand-history-subtitle {
    padding-top: 75px;
    position: relative;
    max-width: 382px;
    margin-bottom: 32px;
  }
  .brand-history-subtitle::before {
    content: "";
    display: block;
    width: 34px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/brand-history/decor-quotes.png);
    background-repeat: no-repeat;
  }
  .quote-author {
    font-size: 16px;
    line-height: 0.7;
    color: rgba(255, 255, 255, 0.4);
  }
