
/* ORDER */
.order::after {
    content: "";
    margin-top: 170px;
    display: block;
    width: 100%;
    height: 524px;

    background-image: url(../img/order/order-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .order-container {
    display: flex;
  }
  .order-wrapper {
    margin-right: 150px;
  }
  .order-form {
    width: 400px;
    display: flex;
    flex-direction: column;
  }
  .order-color {
    margin-bottom: 50px;
  }
  .order-color label:not(:last-child) {
    margin-right: 20px;
  }
  .order-color-radio {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--accent-txt-cl);
    transition: border-color 250ms linear;
    cursor: pointer;
  }
  .order-color-black {
    background-color: var(--radio-btn-cl);
  }
  .order-color-white {
    background-color: #dbdbdb;
  }
  .order-radio:not(:checked) + .order-color-radio {
    border-color: transparent;
  }
  .order-characteristics {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  .order-link {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
  .order-link:first-child {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }
  .order-link::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../img/order/arrow.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .order-price {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 54px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #df3d3a;
  }
  .order-image-white {
    display: none;
  }
