:root {
    /* background colors */
    --main-bg-cl: #191919;

    /* text colors */
    --accent-txt-cl: #df3d3a;
    --primary-txt-cl: rgba(255, 255, 255, 0.8);
    --title-txt-cl: #e7e7e7;
    --second-txt-cl: rgba(255, 255, 255, 0.3);

    --primary-btn-txt-cl: rgba(255, 255, 255, 0.9);
    --primary-btn: #df3d3a;
    --radio-btn-cl: #101010;

    --hover-btn: #b5302d;
    --hover-btn-brdr: rgba(255, 255, 255, 0.8);

    /* grid layout */
    --indent: 40px;
    --item: 3;
  }
